<nav>
    <div>
        <a class="icon" [routerLink]="['/']">
            HOME
        </a>
    </div>
    <div class="autocomplete">
        <input #input type="text" placeholder="Search" (input)="onChange(input.value)" (focus)="onFocusChange(true)" (blur)="onFocusChange(false)">
        <div *ngIf="inFocus" class="autocomplete-list">
            <p *ngFor="let suggestion of suggestions">
                <a  [routerLink]="['/mushroom/' + suggestion._id]" [innerHTML]="suggestion.match" ></a>
            </p>
        </div>
    </div>
    <div>
        <a class="icon" [routerLink]="['/upload']">
            ADD
        </a>
    </div>
</nav>