nav {
    background-color: rgb(82, 73, 64);;
    padding: 6px;
    height: 2rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

nav a.icon {
    font-family: sans-serif;
    font-weight: bolder;
    text-decoration: none;
    color: white;
    display: inline-block;
    /* width: 2rem; height: 2rem; */
    margin: 0 10px;
}

.autocomplete {
    width: 20rem;
    max-width: 100%;
    position: relative;
    margin: auto;
    display: inline-block;
}

.autocomplete input {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: none;
    border-radius: 3px;

    padding: 5px;
    font-size: 1.1rem;
}

.autocomplete-list {
    position: absolute;
    z-index: 10;
    top: 110%;
    left: 0;
    right: 0;

    background-color: whitesmoke;
    border-radius: 3px;

    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.40);
}

.autocomplete-list p {
    margin: 0px;

    padding: 6px;
    font-size: 1.2rem;
    font-family: sans-serif;
    text-transform: capitalize;

    border-bottom: 1px lightgray solid;

    color: black;
    text-decoration: none;

    transition: padding 0.05s ease-in-out;
}

.autocomplete-list p:last-child {
    border-bottom: none;
}

.autocomplete-list p:hover {
    padding-left: 12px;
}

.autocomplete-list a {
    color: black;
    text-decoration: none;
    font-weight: normal;

    display: inline-block;

    width: 100%; height: 100%;
}

.autocomplete-list a em {
    font-weight: bold;
}

.autocomplete-list p a em {
    font-weight: bold;
    font-style: normal;
}