* {
    box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0px;
}

.center {
    margin: auto;
    width: 60%;
    min-width: 600px;
}

em {
    font-weight: bold;
    font-style: normal;
}