figure {
    margin: 0px;
}

h1 { 
    color: #111; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1; 
    text-align: center; 
}

h3 {
    color: white; 
    font-family: 'Open Sans', sans-serif; 
    font-size: 20px; 
    font-weight: 300; 
    line-height: 32px; 
    text-align: left;
    background-color: rgb(82, 73, 64);
    padding: 5px 20px;
}

.mimg {
    margin: 10px;
}

.mtextd { 
    color: #111; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 14px; 
    line-height: 23px; 
    margin: 0 0 24px; 
    text-align: justify; 
    text-justify: inter-word;
}

.mtextg { 
    color: #111; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 14px; 
    line-height: 23px; 
    text-align: justify; 
    text-justify: inter-word;

    background-color: rgb(247, 247, 247);
    grid-column: 2/3;

    padding: 20px;
    margin: 10px;
}

/* creating grid vvv */
.grid{
    display: grid;
    /* margin: 5px 21px 24px; */
    grid-template-columns: 1fr 2fr;
    grid-template-rows: minmax(200px, auto);
    justify-items: stretch;
    align-items: stretch;
}

.mimg img{ 
    width: 100%;
    height: auto;
    grid-column: 1/2;
    grid-row: 1/3;
}

.mtextg img{
    width: 40px;
    height: auto;
}

.mtextd {
    background-color:white;
    grid-column: 1/3;
    padding: 0 10px 0 0;
}

