<main>
    <nav>
        <h3><strong> {{ mushroom.name }} </strong></h3>
    </nav>
    <article>
        <!-- Creating container for grid -->
        <div class="grid">
            <!-- Mushroom image vvv -->
            <div class="mimg">
                <figure>
                    <img [src]="mushroom.images[0]" [alt]="mushroom.name">
                </figure>
            </div>
            <!-- Mushroom overall info vvv -->
            <div class="mtextg">
                <figure>
                    <img *ngIf="mushroom.edible" src="assets/Icons/edible.png" alt="edible">
                    <img *ngIf="mushroom.poisonous" src="assets/Icons/poison.png" alt="poisonous">
                </figure>
                <hr>
                <div><strong>Common name:</strong> {{ mushroom.name }} </div>
                <br>
                <div><strong>Scientific Classification:</strong></div>
                <div>
                    <strong>Family: </strong>
                    <a [routerLink]="['/family/' + mushroom.classification.family]">{{ mushroom.classification.family }} </a>
                </div>
                <div>
                    <strong>Genus: </strong>
                    <a [routerLink]="['/genus/' + mushroom.classification.genus]">{{ mushroom.classification.genus }} </a>
                </div>
                <div><strong>Species:</strong> {{ mushroom.classification.species }} </div>
            </div>
            <!-- Mushroom description vvv -->
            <div class="mtextd">
                <ul style="list-style-type:none">
                    <li><strong>Visual Description:</strong></li>
                    <p>
                        {{ mushroom.description }}
                    </p>
                </ul>
            </div>
        </div>
        <div>
            <!-- Comment section -->
            <nav>
                <h3><strong> Comments </strong></h3>
            </nav>
            <div>
                <form class="comment-form" [formGroup]="commentForm" (ngSubmit)="onSubmit()">
                    <input required formControlName="name" type="text" placeholder="Name"><br>
                    <textarea required formControlName="content" rows="3" placeholder="..."></textarea><br>
                    <input type="submit" value="Comment"><br>
                </form>
            </div>
            <p *ngIf="!mushroom.comments">Be the first to leave a comment!</p>
            <div *ngIf="mushroom.comments">
                <app-comment *ngFor="let comment of mushroom.comments" [comment]="comment"></app-comment>
            </div>
        </div>
    </article>
</main>