<main>
    <header>
        <h1>Mushrooms</h1>
    </header>
    <nav>
        <h3><strong>Boletus</strong></h3>
    </nav>
    <article>
        <!-- Creating container for grid -->
        <div class="grid">
            <!-- Mushroom image vvv -->
            <div class="mimg">
                <figure>
                    <img src="assets/mushrooms/Bo.jpg" alt="Boletus">
                </figure>
            </div>
            <!-- Mushroom overall info vvv -->
            <div class="mtextg">
                <ul>
                    <li><strong>Common name:</strong> Boletus (aka, UK - Penny Bun, Italy - Porcini, French - Cep, US - King Bolete)</li>
                    <li><strong>Scientific Classification:</strong></li>
                    <ul>
                        <li><strong>Family:</strong> Boletaceae</li>
                        <li><strong>Genus:</strong>  Boletus</li>
                        <li><strong>Species:</strong> Boletus edulis</li>
                    </ul>
                </ul>
            </div>
            <!-- Mushroom description vvv -->
            <div class="mtextd">
                <ul style="list-style-type:none">
                    <li><strong>Visual Description:</strong></li>
                    <ul>
                        <li>The mushroom is easily recognized by its brown cap with a white edge which gets more flattened as it matures.</li>
                        <li>The pores below the cap are white and reminds of a sponge and with age gets more yellow.</li>
                        <li>The stem usually is thick, solid (when young) and tan yellow with a fine net just under the cap, sometimes extending all the way down. </li>
                        <li>Habitat of boletus mushroom is mixed woodland but usually found more with beech, oak or pine.</li>
                        <li>Usually grows in between August and October.</li>
                        <li>Edible, Summer - Autumn</li>
                    </ul>
                </ul>
            </div>
        </div>
    </article>
</main>