.comment {
    background-color: rgb(247, 247, 247);
    padding: 5px;
    margin: 5px;
    font-family: sans-serif;
}

.comment h3 {
    margin: 0px;
    color: rgb(82, 73, 64);
    text-transform: capitalize;
}

.comment p {
    margin: 5px;
}